<section
  class="header"
  style="background-image: url(./assets/images/about.jpg)"
>
  <div
    class="mask"
    style="background-color: rgba(18, 18, 18, 0.7); height: 100vh"
  >
    <div class="container">
      <h1>About Nxt-Gen Games</h1>
      <br /><br />
      <p>
        Nxt-Gen Games is an online marketplace where customers can purchase and
        download digital copies of video games. The store offers a wider
        selection of games and have sales or discounts that are only available
        online. Additionally, it has features like cloud saves, automatic
        updates, and social features that allow players to connect with friends
        and share gameplay experiences.
      </p>
      <br />
      <h2>Contact Us</h2>
      <br />
      <p>
        Nxt-Gen Games
        <br />
        Pathanamthitta
        <br />
        Kerala,India
        <br />
        Tel +917025098714
      </p>
    </div>
  </div>
</section>
