<div
  class="mask"
  style="background-color: rgba(14, 14, 14, 0.7); height: 100vh"
>
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong bg-dark" style="border-radius: 1rem">
          <div class="card-body p-5 text-center" style="color: aliceblue">
            <h3 class="mb-5">Password Reset</h3>
            <form>
              <div class="form-outline mb-4">
                <label class="form-label" for="name">Please Enter Email</label>

                <input
                  name="emailUp"
                  placeholder="Email"
                  [(ngModel)]="email"
                  id="email"
                  type="email"
                  class="form-control form-control-lg"
                />
              </div>
              <button
                (click)="verifyEmail()"
                class="btn btn-primary btn-lg btn-block"
                type="submit"
              >
                Send Link
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
