<section class="header">
  <div class="footer">
    <footer class="text">
      <div class="container py-0.5">
        <section class="mb-4">
          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>

          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          ></a>

          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a>

          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
      </div>
    </footer>
  </div>
</section>
