<section
  class="header"
  style="background-image: url(./assets/images/signup.jpg)"
>
  <div class="mask" style="background-color: rgba(14, 14, 14, 0.7)">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong bg-dark" style="border-radius: 1rem">
            <div class="card-body p-5 text-center" style="color: aliceblue">
              <h3 class="mb-5">Sign Up</h3>
              <form>
                <div class="form-outline mb-4">
                  <input
                    name="name"
                    placeholder="Full Name"
                    [(ngModel)]="Name"
                    id="name"
                    type="name"
                    class="form-control form-control-lg"
                  />

                  <br />

                  <input
                    name="emailUp"
                    placeholder="Email"
                    [(ngModel)]="emailUp"
                    id="email"
                    type="email"
                    class="form-control form-control-lg"
                  />

                  <br />

                  <input
                    name="passwordUp"
                    placeholder="Password"
                    [(ngModel)]="passwordUp"
                    id="password"
                    type="password"
                    class="form-control form-control-lg"
                  />

                  <br />

                  <input
                    name="cpasswordUp"
                    placeholder="Confirm Password"
                    [(ngModel)]="cpasswordUp"
                    id="confirm_password"
                    type="password"
                    class="form-control form-control-lg"
                  />

                  <br />
                </div>

                <button
                  (click)="signUp()"
                  class="btn btn-primary btn-lg btn-block"
                  type="submit"
                >
                  Signup
                </button>
                <div class="text-center">
                  <br />
                  Already a Memeber..?
                  <a class="mb-85" (click)="login()">Login Now</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
