<section
  class="header"
  style="background-image: url(./assets/images/single.jpg)"
>
  <div class="mask" style="background-color: rgba(10, 8, 8, 0.7)">
    <div class="single" *ngFor="let item of act">
      <h1>{{ item.name }}</h1>
      <br>

      <iframe width="1000" height="500"  [src]="item.video + '?autoplay=1&vq=hd1080' | safe " allow="autoplay" allowfullscreen></iframe>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm">
           <h2>{{item.buy}}</h2>
          </div>
        </div>
        </div>
        <br>
        
        <h3>{{ item.price }}</h3>
        <button (click)="gotoHere(item.id)"  type="button" class="btn btn-primary btn-lg">
          Buy Now
        </button>
        <br>
        <h2>About This Game</h2>
        <br>
        <p>{{ item.description }}</p>
        <br>
      <img src="{{ item.screenshot1 }}" alt="" />
      <br />
      <p>{{ item.des}}</p>
      
      <br>
     
    </div>
  </div>
</section>
